---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
import { experiences } from '../config';
const skillList = [
  { name: 'vue（深度掌握）', projects: [] },
  {
    name: 'React（熟练使用）', projects: [
      {
        name: '基于next js App架构的 github mock (已部署)',
        url: 'https://next-github-pied.vercel.app/',
      },
    ],
  },
  { name: 'Angular（熟练使用）', projects: [] },
  { name: 'Flutter（使用过）', projects: [] },
];
---
<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="" id="my-cv">
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Profile/个人</div>
    </div>

    <div class="mb-10 text-justify">
      我叫刘圣伟，前端工程师。
    </div>


    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience/经历</div>
    </div>

    <div class="time-line-container mb-10">
      {experiences.map((i, index) => {
        return (
          <TimeLineElement key={index} title={i.title}>
            <span>{i.biz}</span>
            {i.tech && <p class="mb-2">{i.tech}</p>}
          </TimeLineElement>
        );
      })}
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education/教育</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="211本科太原理工大学(毕业无学位(大四学IT去了))" subtitle="2010.9 ～ 2014.9 机械设计制作及其自动化 山西太原" />
    </div>

    <!--<div class="mb-5">-->
    <!--  <div class="text-3xl w-full font-bold">Certifications/认证</div>-->
    <!--</div>-->

    <!--<ul class="list-disc mx-6 mb-10 grid gap-2">-->
    <!--  <li>-->
    <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
    <!--  </li>-->
    <!--  <li>-->
    <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
    <!--  </li>-->
    <!--</ul>-->

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="flex flex-col mx-6">
      {
        skillList.map(i => {
          return (
            <li class="flex flex-col">
              <span>{i.name}</span>
              <ol class="flex flex-col ml-4">
                {i.projects.map(ii => {
                  return (
                    <li>
                      <a class="underline font-black" target="_blank" href={ii.url}>
                        {ii.name}
                      </a>
                    </li>
                  );
                })}
              </ol>
            </li>
          );
        })
      }
    </ul>
  </div>
</BaseLayout>
